{% extends "base.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}
    <main>
        <div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="color: #0606A7; width: 100%; background-color: #D6DCD7; border-radius: 32px;">
                {% for video in videos %}
                    <div class="card" style="width: 18rem; padding: 10px; margin: 10px;">
                        <img src=""
                          class="card-img-top"
                          style="width: 260px; height: 200px;"
                          alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ video.title_of_video }}</h5>
                            <p class="card-text">{{ video.user }}</p>
                            <p class="card-text" style="font-size: 11px;">
                            <i class="bi bi-eye" style="padding-right: 4px;"> {{ video.views }}</i> {{ video.created_date|date:"d/M/Y" }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}