{% extends "base.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}
    <main>
        <table>
            <tr>
                <td style="vertical-align: top;">
                   <video width="800" height="350" style="margin-top: 0px;" controls>
                        <source src="" type="video/mp4">
                    </video>   <br />
                    <h2>{{ video.title_of_video }}        </h2>
                    <table>
                        <tr>
                          <td>
                              <a href="" class="userstylepic">
                              <strong style="color: white">
                                {{ video.user.username|make_list|slice:'1:'|join:'' }}
                              </strong>
                            </a>
                            <span style="font-size: 22px; font-weight: bold;">{{ video.user.username }}</span><br />
                            <i class="bi bi-eye" style="padding-right: 4px;">{{ video.views }}</i>
                          </td>
                          <td style="width: 320px; text-align: right;">
                            <button
                            class="subscribe"
                            >
                              Subscribe
                            </button>
                            <i class="bi bi-hand-thumbs-up padding_right">
                              {{ like }}
                            </i>
                            <i class="bi bi bi-heart padding_right">
                              {{ love }}
                            </i>
                            <i class="bi bi-hand-thumbs-down padding_right">
                              {{ sad }}
                            </i>
                          </td>
                        </tr>
                      </table>
                      <br />         
                </td>
                <td>
                    <div> 
                        {% for video in videos %}
                        <div class="card" style="width: 18rem; padding: 10px; margin: 10px;">
                            <a href="/videos/{{ video.id }}">
                            <img src="{{ video.image.url }}"
                              class="card-img-top"
                              style="width: 260px; height: 200px;"
                              alt="...">                            
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ video.title_of_video }}</h5>
                                <p class="card-text">{{ video.user.username }}</p>
                                <p class="card-text" style="font-size: 11px;">
                                <i class="bi bi-eye" style="padding-right: 4px;"> {{ video.views }}</i> {{ video.created_date|date:"d/M/Y" }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
    </main>
{% endblock %}